.chat-container {
  max-width: 1010px;
  margin: 0 auto;

  .dialogs-wrapper {
    width: 31%;
    float: left;

    .first-contact {
      text-align: center;
      color: #00BCD4 !important;

      &:hover {
        background-color: #00BCD4 !important;
        color: #fff !important;
      }
    }

    .dialogs-loading-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100vh - 172px);
    }

    .dialogs-search {
      padding: 12px;
    }

    .dialogs-list {
      padding: 0 !important;
      max-height: calc(100vh - 184px);
      overflow: auto;

      .last-message {
        position: absolute;
        font-size: 12px;
        max-width: 180px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: darkgray;
      }
    }
  }

  .messages-wrapper {
    float: right;
    display: flex;
    height: calc(100vh - 70px);
    width: 69%;
    flex-direction: column;
    justify-content: space-between;

    .create-new-conversation {
      padding-top: 60px;

      .conversation-inputs {
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
      }

      .conversation-submit {
        display: flex;
        justify-content: flex-end;
        padding: 25px 50px 0 0;
      }
    }

    .messages-header {
      min-height: 100px;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-between;
      color: rgba(0, 0, 0, 0.87);
      background-color: white;
      box-sizing: border-box;
      font-family: Roboto, sans-serif;
      border-bottom: 1px solid rgb(224, 224, 224);

      .conversation-info {
        display: flex;
        align-items: center;
      }

      .members {
        color: darkgray;
        font-size: 13px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .avatar-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 25px;
      }

      .description {
        margin-left: 10px;

        .name {
          font-weight: 600;
          font-size: 18px;
        }

        .info {
          margin-top: 5px;
          font-size: 13px;

          &.muted {
            color: darkgray;
            font-weight: normal;
          }
        }
      }
    }

    .messages-history {
      display: flex;
      flex-direction: column-reverse;
      padding: 25px 0;
      height: 100%;
      border-bottom: 1px solid #e0e0e0;

      .history-messages-wrapper {
        overflow-y: auto;
      }

      .message-wrapper {
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 0 40px;

        &.justify-left {
          align-items: flex-start;

          .message-info {
            text-align: left;
          }
        }

        &.justify-right {
          align-items: flex-end;

          .message-info {
            text-align: right;
          }
        }

        &.selected {
          background: #E8E8E8;
          border-radius: 10px;
        }

        .chat-bubble {
          border-top-right-radius: 1.3em;
          max-width: 55%;
          border-top-left-radius: 1.3em;
          word-wrap: break-word;
          padding: 6px 12px;
          outline: none;
          margin: 10px 0 0;

          &.my-message {
            background-color: rgb(0, 188, 212); //messenger blue: #0084ff
            color: #fff;
            border-bottom-left-radius: 1.3em;
          }

          &.recipient-message {
            background-color: #f1f0f0;
            color: rgba(0, 0, 0, 1);
            border-bottom-right-radius: 1.3em;
          }
        }

        .message-info {
          display: flex;
          flex-direction: column;
          bottom: 0;
          padding: 3px 5px 0;

          .timestamp {
            color: #adadad;
            font-size: .65em;
            bottom: 0;
          }

          .author {
            color: #adadad;
            font-size: .65em;
            bottom: 0;
          }
        }

      }
    }

    .messages-controls {
      display: flex;
      max-height: 90px;
      padding: 15px;

      .send-message-text {
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        font: 14px/22px "Lato", Arial, sans-serif;
        resize: none;
      }
    }
  }

  .no-recipient {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px);
    width: 69%;
    background: rgba(0, 0, 0, .025);
    color: black;
  }
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #eee;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);

  &:active {
    background: #dedede;
  }
}