body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.muidocs-icon-custom-github:before {
  content: "\e625";
}

.error {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #F44336;
}

.header-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  div {
    color: white;
  }
}

.registration-form {
  width: 300px;
  padding: 30px 0;
  margin: 80px auto;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      display: block;
    }
  }
}

.authentication-form {
  width: 300px;
  padding: 30px 0;
  margin: 80px auto;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      display: block;
    }
  }
}